/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background-image: url(../img/arches.png);
    /*background-image: url(../img/cargo.jpg);*/
    /*background-size: cover;*/
    /*background-size: 100%;*/
    background-repeat: repeat;
}
body:before {
    background-color: rgba(10,10,250, 0.2);
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.game-ui-panel {
    background-color: #954535;
}
.game-wrapper {
    height: 100%;
    position: relative;
    border-top: 3px solid #59260b;
    /*box-shadow: inset 0 0 10px #000;*/
}
.sea-map { height: 100%; }
.game-header {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    height: 20px;
    z-index: 120;
    color: #fff;
}
.stats {
    font-size: 12px;
}
.stats__divider {
    color: #59260b;
}
.stats__level {
    margin: 0 5px;
}
.stats__gold {
    margin: 0 5px;
    color: gold;
}
.fleet-panel {
    width: 150px;
    position: absolute;
    top: 20px;
    right: 0;
}
    .fleet-item {
        width: 50px;
        height: 50px;
        float: left;
        border: 2px solid gold;
    }
.activity-stack {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 50px;
    z-index: 120;
}
    .activity-item {
        background-color: green;
        width: 50px;
        height: 50px;
    }
.game-footer {
    height: 100px;
    background-color: #5040aa;
    box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.5);
}
.avatar-wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #954535;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border-bottom-right-radius: 10px;
}
.user-avatar {
    height: 60px;
    width: 60px;
    overflow: hidden;
    background-color: #eee;
    border: 5px solid #59260b;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.user-avatar:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
.user-avatar__image {
    max-width: 100%;
    height: auto;
}
.user-level {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #508820;
    color: #fff;
    position: absolute;
    bottom: -7px;
    right: 10px;
    text-align: center;
}
.actions-wrap {
    padding: 10px 0;
    border-bottom-right-radius: 10px;
    width: 60px;
    position: absolute;
    left: 0;
    top: 100px;
    text-align: center;
}
.action {
    padding: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a1a1a1;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
}
.action img {
    width: 100%;
    height: auto;
}
.action--on-route img {
    position: relative;
    bottom: 3px;
}
.action__image {
    position: relative;
    z-index: 200;
}
.action__label {
    width: 0;
    display: block;
    overflow: hidden;
    background-color: #954535;
    color: gold;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -18px;
    margin-left: 11px;
    height: 36px;
    line-height: 36px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    z-index: -1;
    /*margin-left: -900px;*/
    margin-left: 11px;
    opacity: 0;
    transition: width 0.2s, margin-left 0.5s, z-index 0.5s, opacity 0.8s;
}
/*.action__label:before {
    display: block;
    content: '';
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-color: #aaa;
    transform: rotate(45deg);
}*/
.action:hover .action__label {
    width: 150px;
    padding: 0 10px;
    overflow: visible;

    z-index: 100;
    opacity: 1;
}

.game-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    background-color: #954535;
    border: 3px solid #59260b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 900;
}
.game-modal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #954535;
    border: 3px solid #59260b;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}

.timed-loader-wrap {

}
.timed-loader {
    border: 1px solid #515151;
}
.timed-loader__percentage {
    background-color: red;
    border: 1px solid #aa2222;
    width: 0;
    height: 10px;
    transition: width 0.2s;
}
.game-splash {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 100px 0;
    z-index: 500;
}
.game-splash__form-wrap {
    background-color: brown;
    color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}
.game-splash__field { margin-bottom: 10px; }
.game-splash__field__label {
    display: block;
    margin-bottom: 5px;
}
.game-splash__field__input {
    display: block;
    color: #515151;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
.game-splash__action { padding-top: 10px; }
.game-splash__submit {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    min-width: 100px;
    padding: 5px 10px;
    background-color: green;
    cursor: pointer;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
}
.game-splash__submit:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
